on:
  push

jobs:
  ubuntu20:
    runs-on: ubuntu-20.04

    steps:
      - uses: actions/checkout@v4

      - name: Update apt repos and install base dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential libtool autotools-dev automake pkg-config zlib1g-dev \
            libevent-dev bsdmainutils git libseccomp-dev libcap-dev \
            libminiupnpc-dev libqt5gui5 libqt5core5a libqt5webkit5-dev \
            libqt5dbus5 qttools5-dev qttools5-dev-tools libprotobuf-dev \
            protobuf-compiler libqrencode-dev libboost-all-dev libssl-dev

      - name: Install Boost 1.62.0
        run: |
          wget -q https://sourceforge.net/projects/boost/files/boost/1.62.0/boost_1_62_0.tar.gz -O boost_1_62_0.tar.gz
          tar xzvf boost_1_62_0.tar.gz
          cd boost_1_62_0
          ./bootstrap.sh --prefix=/usr/local --with-libraries=chrono,date_time,iostreams,filesystem,program_options,system,thread,test
          sudo ./b2 install

      - name: Install Berkeley DB 4.8
        run: |
          wget -q https://download.oracle.com/berkeley-db/db-4.8.30.NC.tar.gz -O db-4.8.30.NC.tar.gz
          tar xzvf db-4.8.30.NC.tar.gz
          cd db-4.8.30.NC/build_unix
          sed -i 's/__atomic_compare_exchange/__atomic_compare_exchange_db/g' ../dbinc/atomic.h
          ../dist/configure --disable-shared --enable-cxx --disable-replication --with-pic
          make
          sudo make install
          sudo ln -s /usr/local/BerkeleyDB.4.8/lib/libdb-4.8.so /usr/lib/libdb-4.8.so
          sudo ln -s /usr/local/BerkeleyDB.4.8/lib/libdb_cxx-4.8.so /usr/lib/libdb_cxx-4.8.so

      - name: Auto generate
        run: ./autogen.sh

      - name: Configure
        run: |
          ./configure --disable-werror \
            --prefix=$(pwd)/depends/x86_64-linux-gnu \
            --bindir=$(pwd)/release/bin \
            --libdir=$(pwd)/release/lib \
            CPPFLAGS="-I/usr/local/BerkeleyDB.4.8/include -O2" \
            LDFLAGS="-L/usr/local/BerkeleyDB.4.8/lib"

      - name: Build
        run: |
          make CPPFLAGS="-I/usr/local/BerkeleyDB.4.8/include -I/usr/local/include" \
               LDFLAGS="-L/usr/local/BerkeleyDB.4.8/lib -L/usr/local/lib" > build.log 2>&1
          tail -n 50 build.log

      - uses: actions/upload-artifact@v4
        with:
          name: build-log
          path: build.log
